*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ #
*.iml
.idea

# Eclipse #
bin
.classpath
.project
out

# Restore ignored H2 files #
!db/h2/bin
!db/h2/bin/*.jar

# Restore the servlets JAR #
!MeetupServlets/WebContent/**/*.jar

# JARS #
!jars/*.jar

# Jboss #
jboss