*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ #
*.iml
.idea

# Eclipse #
bin
.metadata
.classpath
out
RemoteSystemsTempFiles/*

# Restore ignored H2 files #
!db/h2/
!db/h2/*.jar

# Restore the servlets JAR #
!MeetupServlets/WebContent/**/*.jar
!MeetupUI/WebContent/**/*.jar

# JARS #
!jars/*.jar